.service-container {
  width: 1280px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-header {
  font-size: 56px;
  font-weight: 600;
  margin:50px 0px;
  color:black;
}

.service-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.service-list ul {
  list-style: none;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.service-list ul li {
  height: 200px;
  width: 200px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  margin: 10px;
  background-color: var(--bg-primary);
  font-size: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 0;
}

.service-list ul li .service-name {
  font-weight: 600;
  color: #000000;
  font-size: 20px;
}

.service-list ul li::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background-color: var(--primary);
  transform: scaleX(0) scaleY(0);
  transform-origin: bottom left;
  transition: transform 0.9s ease;
  z-index: -1;
}

.service-list ul li:hover::after {
  transform: scaleX(1) scaleY(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 1280px) {
  .service-container {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .service-container {
    margin: 60px auto;
  }
  .service-header {
    font-size: 32px;
    text-align: center;
  }
  .service-list ul {
    gap: 20px;
  }
  .service-list ul li {
    height: 160px;
    width: 160px;
    font-size: 24px;
    padding: 15px;
    gap: 15px;
  }
  .service-list ul li .service-name {
    font-size: 16px;
  }
}
// -------------responsive design (mobile)-------------
@media screen and (max-width: 480px) {
.service-container {
  margin: 40px auto;
}

.service-header {
  font-size: 20px;
  font-weight: 400;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.service-list ul {
  gap: 20px;
}

.service-list ul li {
  height: 100px;
  width: 100px;
  border-radius: 9px;
  padding: 10px;
  gap: 10px;
  margin: 10px;
  font-size: 15px;
}

.service-list ul li .service-name {
  font-weight: 400;
  font-size: 14px;
}
}